# Ignore node_modules, as dependencies will be installed in the Docker image
node_modules

# Ignore build output, as it will be generated in the Docker image
dist
build
out

# Ignore Git files
.git
.gitignore

# Ignore Docker files
Dockerfile
.dockerignore
docker-compose.yml

# Ignore development-specific files
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment files (these should be passed at runtime)
.env
.env.*
!/.env.example